[Unit]
Description=Web Registration Server
After=syslog.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/web-reg
ExecStart=/usr/bin/python3 /home/ubuntu/web-reg/app.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
